/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  font-size: 1.2em;
  /* Ajustado a 'em' para responsividad */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2em;
  /* Ajustado a 'em' para responsividad */
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
#title {
  padding-top: 10%;
  text-align: center;
  font-size: 3em;
  /* Ajustado a 'em' para responsividad */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#header {
  width: 100%;
  height: 70vh;
  /* Ajustado a 'vh' (viewport height) para responsividad */
  min-height: 400px;
  /* Para evitar que el header sea muy pequeño en pantallas muy chicas */
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right,
      hsla(176, 68%, 74%, 0.592),
      hsla(219, 67%, 72%, 0.587),
      hsla(240, 51%, 67%, 0.545)),
    url("images/img1.jpg");
  background: linear-gradient(to right,
      hsla(176, 68%, 74%, 0.592),
      hsla(219, 67%, 72%, 0.587),
      hsla(240, 51%, 67%, 0.545)),
    url("images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hotbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, #0057b398, #ffd90079);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;


  padding: 10px 0; /* Añadir padding vertical */


}

.hotbar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;

  flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea */
  justify-content: center;


}

.hotbar-item {
  margin: 0 1rem;
  /* Ajustado con 'rem' para responsividad */
  position: relative;
}

.hotbar-item a {

  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1.5rem 1rem;
  /* Ajustado con 'rem' para responsividad */
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.hotbar-item a:hover {
  color: #000;
}

.hotbar-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid transparent; ;
  transition: border-color 0.3s ease;
  z-index: -1;
  height: 100%;
}

.hotbar-item:hover a::before {
  border-color: white;
}

.hotbar-icon {
  align-self: center;
  justify-self: center;
  padding: 5px;
}

.containerAboutUs {
  padding: 4rem 0;
  /* Ajustado con 'rem' para responsividad */
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* About us */
.container-about-us {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* Ajustado con 'rem' para responsividad */
  padding: 1rem;
  /* Ajustado con 'rem' para responsividad */
  max-width: 1200px;
  margin: auto;
}

.content.text {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

#description {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
}

.gallery {
  position: relative;
  flex: 1;
  max-width: 50%;
  height: 40vh;
  /* Ajustado a 'vh' para responsividad */
  overflow: hidden;
  min-height: 300px;
}

.slides {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 90%;
  /* Ajustado a 100% para ocupar el contenedor */
  object-fit: cover;
}

.slide {
  min-width: 100%;
  width: 100%;
  height: 100%;
  /* Ajustado a 100% para ocupar el contenedor */
  object-fit: cover;
  display: none;
}

.slide.active {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.dots {
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

/* Categorías */
.categories {
  background-color: #d4d4d4;
  display: block;
  padding-bottom: 1.5rem;
  /* Ajustado con 'rem' para responsividad */
  justify-content: center;
}

.categories-title {
  text-align: center;
  padding-bottom: 1.2rem;
  /* Ajustado con 'rem' para responsividad */
  padding-top: 1.2rem;
  /* Ajustado con 'rem' para responsividad */
}

.container-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  /* Ajustado con 'rem' para responsividad */
  padding: 1rem;
  /* Ajustado con 'rem' para responsividad */
  margin: auto;
}

.container-categories h3 {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.image-container {
  width: 20%;
  /* Ajustado a % para responsividad */
  min-width: 200px;
  /* Establece un tamaño mínimo */
  aspect-ratio: 1 / 1;
  /* Mantiene la proporción 1:1 */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: #000 0px 0px 10px;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
}

.text-overlay h3 {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

/*top athletes*/
.container-top-athletes {
  display: block;
  padding-bottom: 3rem;
  /* Ajustado con 'rem' para responsividad */
}

.container-top-athletes h2 {
  text-align: center;
  padding-top: 2rem;
  /* Ajustado con 'rem' para responsividad */
  padding-bottom: 2rem;
  /* Ajustado con 'rem' para responsividad */
}

.athlete {
  width: 20%;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  gap: 1rem;
  /* Ajustado con 'rem' para responsividad */
}

.athlete img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.athlete:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: #000 0px 0px 10px;
}

/* Footer */
.banner {
  display: flex;
  height: 90px;
}

.blue-rectangle {
  background-color: blue;
  left: 0;
  width: 50%;
  height: 100%;
}

.yellow-rectangle {
  background-color: yellow;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.banner img {
  height: 6rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 48%;
}

.fa {
  font-size: 2rem;
}

/* Media Queries */
/* Dispositivos móviles (hasta 768px) */
@media (max-width: 768px) {
  #title {
    font-size: 2.5em;
  }

  .hotbar {
    height: auto;
    justify-content: center;
  }

  .hotbar-item a {
    padding: 0.5rem 1rem;
  }

  .container-about-us {
    flex-direction: column;
    /* Cambia a columna en dispositivos móviles */
  }

  .content.text,
  .gallery {
    max-width: 90%;
    /* Ocupa todo el ancho en dispositivos móviles */
    margin-bottom: 1rem;
    /* Ajusta el margen inferior */
  }

  .gallery {
    height: 40vh;
  }

  .container-categories {
    flex-direction: column;
    height: auto;
    /* Ajusta la altura automáticamente */
  }

  .image-container {
    width: 80%;
    /* ocupa el 80% de la pantalla */
    margin: 0 auto;
    /* centra los elementos */
    min-width: auto;
    /* Ajusta para ocupar todo el ancho */
    aspect-ratio: 4 / 3;
    /*Mantiene una relación de aspecto 4:3 */
  }

  .images-container {
    flex-direction: column;
  }

  .athlete {
    width: 80%;
    margin: 0 auto;
    min-width: auto;
  }

  .banner {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .blue-rectangle,
  .yellow-rectangle {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .banner img {
    left: 45%;
    margin: 10px 0;
  }

  .fa {
    font-size: 3rem;
  }

  .text-overlay {
    padding: 10px;
  }
}